<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Flights home</title>

  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css" />
</head>
<body ng-controller="FlightSelectorController as flightSelector">
  <h1>Find a flight</h1>
  <h2>1. Select number of passengers</h2>
  <passenger-selector
      adult-passengers="{{ passengers.adults }}"
      child-passengers="{{ passengers.children }}"
      infant-passengers="{{ passengers.infants }}"
      update-passenger-count-callback="setPassengerCount(adults, children, infants)"
  ></passenger-selector>

  <div ng-if="!loadingAirportData">
    <h2>2. Select a departure airport</h2>
    <departure-airport-selector
        airport-list="airportList"
        update-departure-airport-callback="setDepartureAirport(airportId)"
    ></departure-airport-selector>
  </div>

  <div ng-if="!loadingArrivalAirports && !loadingAirportData">
    <h2>3. Select an arrival airport</h2>
    <arrival-airport-selector
        airport-list="airportList"
        valid-airport-ids="arrivalAirports"
        update-arrival-airport-callback="setArrivalAirport(airportId)"
    ></arrival-airport-selector>
  </div>

  <script src="bower_components/requirejs/require.js"></script>
  <script src="main.js"></script>
  <script type="text/javascript">
    require(['app']);
  </script>
</body>
</html>
