<div class="arrival-airport-selector">
  <h3>Choose the airport you want to fly to?</h3>
  <ul class="arrival-airport-selector__list -valid">
    <li ng-repeat="airport in validAirportList">
      <a href ng-click="updateArrivalAirport(airport.id)">{{ airport.name }} ({{ airport.id }})</a>
    </li>
  </ul>
  <ul class="arrival-airport-selector__list -invalid">
    <li ng-repeat="airport in invalidAirportList">
      <p>{{ airport.name }} ({{ airport.id }})</p>
      <p>This airport isn't available from your departure point</p>
    </li>
  </ul>
</div>